.register-container {
    width: 100%;
    height: 100vh;
    background-image: url("../../../upload/images/register_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    &__form {
        padding-top: 50px;
        background-color: white;
        border: 1px solid #ccc;
        height: 100%;
        width: 50%;
        float: right;
    }
    &__checkbox {
        input {
            width: 15px;
            height: 15px;
        }
    }
    &__form-element {
        width: 70%;
        margin: 0 auto;
    }
    &__form-title {
        font-size: 2em;
        color: #17a2b8;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-bottom: 30px;
    }
    &__register-btn {
        width: 100%;
        background-color: #5191fa;
    }
}
