// :root {
//   --input-padding-x: 1.5rem;
//   --input-padding-y: 0.75rem;
//   height: 100%;
//   margin: 0;
// }
html,
body {
    height: 100%;
}

.login-container {
    width: 100%;
    height: 100vh;
    background-image: url("../../../login-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    &__form {
        width: 40%;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px 50px;
        margin-top: 50px;
        border-radius: 5px;
        border: 1px solid #cccccc;
        max-height: 80%;
    }
    &__title {
        float: none;
        color: #666 !important;
        margin-bottom: 2rem;
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: 0.5px;
    }
    &__form-element {
        position: relative;
        margin-bottom: 1rem;
        input {
            height: 2.8em;
            border-radius: 0.5rem;
        }
    }
    @media only screen and (max-width: 768px) {
        &__form {
            width: 100%;
        }
    }
}
